html {
    font-size: 62.5%;
    // overflow-x: hidden;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
