@use "../../shared/colors";
@use "../../shared/fonts";
@import "../../shared/bounds";
@import "../../shared//containers";

.headerStickWrapper {
    background-color: red;
}

.header {
    background-color: colors.$white;
    font-family: fonts.$Montserrat;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid colors.$light;
}

.container {
    @include container;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    div {
        @include dFlex(initial, center);
    }

    div.logo {
        margin: 25px auto 25px 0px;
    }

    div.menuMobileShow {
        svg {
            font-size: 3rem;
        }
        @media (min-width: 1024px) {
            display: none;
        }
    }

    ul {
        @include dFlex(center);
        padding: 0px 15px;
        margin-left: auto;
        width: 450px;
        li {
            a {
                font-weight: 500;
                display: block;
                padding: 26px 12px;
                line-height: 26px;
                font-size: 1.4rem;
                color: colors.$black;
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom: 2px solid colors.$blue;
                    color: colors.$blue;
                }
                @media (max-width: 1024px) {
                    padding: 10px 10px;
                    font-size: 1.6rem;
                }
            }
        }
    }

    ul.menuListMobile {
        display: none;
        padding: 0px 30%;
        text-align: center;
        flex-direction: column;
        li {
            max-width: 120px;
            padding: 5px 0px;
            margin: 0 auto;
        }
    }

    @media (max-width: 1024px) {
        ul.menuList {
            display: none;
        }
        ul.menuListMobile {
            @media (max-width: 1024px) {
                display: block;
            }
        }
    }
    @media (max-width: 768px) {
        ul.menuListMobile {
            padding: 0px;
            width: 100%;
            text-align: center;
        }
    }
}
